@model IEnumerable<PayrollSoft.Models.Department>

@{
    ViewBag.Title = "ViewDepartments";
}

<!--<h2>ViewDepartments</h2>-->
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery_lib/view-departments-1.0.1.js")"></script>