@model PayrollSoft.Models.EmployeeGrade

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EmployeeGrade</legend>

    <div class="display-label">GradeName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GradeName)
    </div>

    <div class="display-label">MinSalary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinSalary)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
