
  <!-- <div class="wrap-x1">
            <p>Personal Info</p>
            <div style="margin-top:7px; padding-left: 3px;">Employement Number</div>
            <input style="margin-top: 3px; margin-left: 8px;" id="empID" />
            <div style="margin-top:7px; padding-left: 5px;"> Name</div>
            <input style="margin-top: 3px; margin-left: 8px;" id="name" />
            <div style="margin-top:7px; padding-left: 8px;">Phone</div>
            <input style="margin-top: 3px; margin-left: 8px;" id="contactNo" />
            <div style="margin-top:7px; padding-left: 8px;">Gender</div>
            <div style="margin-top: 3px; margin-left: 8px;" id="sex"></div>
            <div style="margin-top:7px; padding-left: 8px;">Date of Birth</div>
            <div style="margin-top: 3px; margin-left: 8px;" id="dob"></div>
   </div>
   <div class="wrap-x1">
            <p>Department</p>
             <div style="margin-top:7px; padding-left: 8px;">Department</div>
             <div style="margin-top: 3px; margin-left: 8px;" id="deptname"></div>
             <div style="margin-top:7px; padding-left: 5px;">Job Title</div>
             <div style="margin-top: 3px; margin-left: 8px;" id="jobposition"></div>
             <div style="margin-top:7px; padding-left: 8px;">Grade</div>
             <div style="margin-top: 3px; margin-left: 8px;" id="empgrade"></div>
             <div style="margin-top:7px; padding-left: 8px;">Hire Date</div>
             <div style="margin-top: 3px; margin-left: 8px;" id="dateHired"></div>
  </div>-->
  <div>
        <div id="jqxTabWidget">
                <div style='float: left;'>
                    <div id='jqxTabs'>
                         <ul style='margin-left: 10px;'>
                                  <li>Personal Info</li>
                                  <li>Academic</li>
                                  <li>Department</li>
                                  <li>Wages</li>
                                  <li>Miscellaneous</li>
                             </ul>
                             <div>
                                 <table>
                                     <tr>
                                        <td>
                                           <div style="margin-top:25px; padding-left: 8px;">Employement Number</div>
                                           <input style="margin-top: 3px; margin-left: 8px;" id="empID" />
                                         </td>
                                         <td>
                                            <div style="margin-top:25px; padding-left: 80px;"> Name</div>
                                            <input style="margin-top: 3px; margin-left: 80px;" id="name" />
                                         </td>
                                     </tr>
                                     <tr>

                                         <td>
                                           <div style="margin-top:8px; padding-left: 8px;">Address</div>
                                           <input style="margin-top: 3px; margin-left: 8px;" id="address" />
                                         </td>
                                         <td>
                                            <div style="margin-top:8px; padding-left: 80px;">Phone</div>
                                            <input style="margin-top: 3px; margin-left: 80px;" id="contactNo" />
                                         </td>
                                        
                                     </tr>
                                      <tr>
                                        <td>
                                           <div style="margin-top:7px; padding-left: 8px;">Gender</div>
                                           <div style="margin-top: 3px; margin-left: 8px;" id="sex"></div>
                                         </td>
                                         <td>
                                            <div style="margin-top:7px; padding-left: 80px;">Date of Birth</div>
                                            <div style="margin-top: 3px; margin-left: 80px;" id="dob"></div>
                                         </td>
                                     </tr>
                                 </table>
                               
                             </div>
                             <div></div>
                             <div>
                                 <table>
                                     <tr>
                                         <td>
                                           <div style="margin-top:7px; padding-left: 8px;">Department</div>
                                           <div style="margin-top: 3px; margin-left: 8px;" id="deptno"></div>
                                         </td>
                                          <td>
                                            <div style="margin-top:7px; padding-left: 80px;">Job Title</div>
                                            <div style="margin-top: 3px; margin-left: 80px;" id="jobposition"></div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                           <div style="margin-top:7px; padding-left: 8px;">Grade</div>
                                           <div style="margin-top: 3px; margin-left: 8px;" id="empgrade"></div>
                                         </td>
                                          <td>
                                            <div style="margin-top:7px; padding-left: 80px;">Hire Date</div>
                                            <div style="margin-top: 3px; margin-left: 80px;" id="dateHired"></div>
                                         </td>
                                     </tr>
                                  
                                 </table>
                                   <table>
                                    <tr>
                                       <td>
                                          <div style="margin-top:7px;padding-left: 8px;">End Date</div>
                                          <div style="margin-top: 3px; margin-left: 8px;" id="enddate"></div>
                                       </td>
                                       <td></td>
                                    </tr>
                                  
                                 </table>
                             </div>
                             <div></div>
                             <div>
                                 <table>
                                    <tr>
                                       <td>
                                         <div style="margin-top:10px;">
                                            <div id="onPayroll">On Payroll</div>
                                         </div>
                                       </td>
                                       <td>
                                          <div style="margin-top:10px;">
                                            <div id="onMedicalScheme">On Medical Scheme</div>
                                         </div>
                                       </td>
                                        <td>
                                          <div style="margin-top:10px;">
                                            <div id="Pension">Pension Contribution</div>
                                         </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td><div style="margin-top:15px; padding-left: 8px;">Medical Insurance Bill:</div></td>
                                       <td><div style="margin-top: 15px; margin-left: 8px;"><div id="MedSchemContribAmount"></div></div></td>
                                    </tr>
                                     <tr>
                                       <td><div style="margin-top:15px; padding-left: 8px;">Overtime hours:</div></td>
                                       <td><div style="margin-top: 15px; margin-left: 8px;"><div id="overtimeHours"></div></div></td>
                                    </tr>
                                     <tr>
                                       <td><div style="margin-top:15px; padding-left: 8px;">Advance Pay Deduction:</div></td>
                                       <td><div style="margin-top: 15px; margin-left: 8px;"><div id="advanceLoan"></div></div></td>
                                    </tr>

                                 </table>
                             </div>
                           </div>
                         </div>
                       </div>

                     
  </div>


<!--<div id="window">
           
            <div>
                <div>
                    
                    <div>
                       <div id="jqxTabWidget">
                         <div style='float: left;'>
                           <div id='jqxTabs'>
                              <ul style='margin-left: 10px;'>
                                  <li>Personal Info</li>
                                  <li>Academic</li>
                                  <li>Department</li>
                                  <li>Wages</li>
                                  <li>Miscellaneous</li>
                             </ul>
                             <div>
                                 <table>
                                     <tr>
                                        <td>
                                           <div style="margin-top:25px; padding-left: 8px;">Employement Number</div>
                                           <input style="margin-top: 3px; margin-left: 8px;" id="empID" />
                                         </td>
                                         <td>
                                            <div style="margin-top:25px; padding-left: 80px;"> Name</div>
                                            <input style="margin-top: 3px; margin-left: 80px;" id="name" />
                                         </td>
                                     </tr>
                                     <tr>

                                         <td>
                                           <div style="margin-top:8px; padding-left: 8px;">Address</div>
                                           <input style="margin-top: 3px; margin-left: 8px;" id="address" />
                                         </td>
                                         <td>
                                            <div style="margin-top:8px; padding-left: 80px;">Phone</div>
                                            <input style="margin-top: 3px; margin-left: 80px;" id="contactNo" />
                                         </td>
                                        
                                     </tr>
                                      <tr>
                                        <td>
                                           <div style="margin-top:7px; padding-left: 8px;">Gender</div>
                                           <div style="margin-top: 3px; margin-left: 8px;" id="sex"></div>
                                         </td>
                                         <td>
                                            <div style="margin-top:7px; padding-left: 80px;">Date of Birth</div>
                                            <!--<div style="margin-top: 3px; margin-left: 80px;" id="dob"></div>
                                         </td>
                                     </tr>
                                 </table>
                               
                             </div>
                             <div></div>
                             <div>
                                 <table>
                                     <tr>
                                         <td>
                                           <div style="margin-top:7px; padding-left: 8px;">Department</div>
                                           <div style="margin-top: 3px; margin-left: 8px;" id="deptname"></div>
                                         </td>
                                          <td>
                                            <div style="margin-top:7px; padding-left: 80px;">Job Title</div>
                                            <div style="margin-top: 3px; margin-left: 80px;" id="jobposition"></div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                           <div style="margin-top:7px; padding-left: 8px;">Grade</div>
                                           <div style="margin-top: 3px; margin-left: 8px;" id="empgrade"></div>
                                         </td>
                                          <td>
                                            <div style="margin-top:7px; padding-left: 80px;">Hire Date</div>
                                            <div style="margin-top: 3px; margin-left: 80px;" id="dateHired"></div>
                                         </td>
                                     </tr>
                                  
                                 </table>
                                   <table>
                                    <tr>
                                       <td>
                                          <div style="margin-top:7px;padding-left: 8px;">End Date</div>
                                          <div style="margin-top: 3px; margin-left: 8px;" id="enddate"></div>
                                       </td>
                                       <td></td>
                                    </tr>
                                  
                                 </table>
                             </div>
                             <div></div>
                             <div>
                                 <table>
                                    <tr>
                                       <td>
                                         <div style="margin-top:10px;">
                                            <div id="onPayroll">On Payroll</div>
                                         </div>
                                       </td>
                                       <td>
                                          <div style="margin-top:10px;">
                                            <div id="onMedicalScheme">On Medical Scheme</div>
                                         </div>
                                       </td>
                                        <td>
                                          <div style="margin-top:10px;">
                                            <div id="Pension">Pension Contribution</div>
                                         </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td><div style="margin-top:15px; padding-left: 8px;">Medical Insurance Bill:</div></td>
                                       <td><div style="margin-top: 15px; margin-left: 8px;"><div id="MedSchemContribAmount"></div></div></td>
                                    </tr>
                                     <tr>
                                       <td><div style="margin-top:15px; padding-left: 8px;">Overtime hours:</div></td>
                                       <td><div style="margin-top: 15px; margin-left: 8px;"><div id="overtimeHours"></div></div></td>
                                    </tr>
                                     <tr>
                                       <td><div style="margin-top:15px; padding-left: 8px;">Advance Pay Deduction:</div></td>
                                       <td><div style="margin-top: 15px; margin-left: 8px;"><div id="advanceLoan"></div></div></td>
                                    </tr>

                                 </table>
                             </div>
                           </div>
                         </div>
                       </div>
                    
                        <div id="jqxExpander" style='float: left;margin-top:5px;'>
                        <div>
                         <table>
                             <tr>
                                <td align="right"></td>
                                <td style="padding-top: 3px;" align="right"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Cancel" type="button" value="Cancel" /></td>
                            </tr>
                         </table>
                        </div>
                             <!-- <div>
                                    
                                    <div id="jqxgrid"></div>
                                   
                                   
                              </div> -->
                     <!-- </div>
                        
                    </div>
                </div>
            </div>
      </div>-->

<div id="messageNotification" style="overflow:hidden;">
     <div></div>
</div>