<div id="initPayroll">
   <div>
        <div>
            <div>
             <table>
                <tr>
                   <td><input style="margin-right: 5px;" type="button" id="initPayrollProc" value="Initiate payroll process" /></td>
                   <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><input style="margin-right: 1px;padding-top: 1px;" type="button" id="initPayrollCustomize" value="Customize" /></td>
                  <td></td>
                </tr>
             </table>
            </div>
        </div>
   </div>
</div>

<div id="customizePayrollWin" style="overflow: hidden";>
      <div></div>
          <div style="overflow: hidden;">
          </div>
</div>


 <div id="messageNotification" style="overflow:hidden;">
      <div></div>
 </div>