<div id="grid">
  <div id="jqxgrid"></div>
</div>
<div id="summaryWindow" style="overflow: hidden";>
  <div></div>
      <div style="overflow: hidden;">
         <div id="jqxTabs">
            <ul>
              <li style="margin-left: 25px;">Summary</li>
            </ul>
           <div>
              <div style="margin-top: 1px;" id="summary-data"></div>
           </div>
         </div>
        <div>
        	<table style="margin-top: 10px; float: right; margin-right: 5px;">
        		<tr>
        			<td>
        				<a class="btn icon-btn btn-success" href="#" id="authorizeBtn"><span class="glyphicon btn-glyphicon glyphicon-tick img-circle text-success"></span>Authorize</a>
        			</td>
        			<td></td>
        		</tr>
        	</table>
        </div>           
        </div>
  </div>

 <div id="messageNotification" style="overflow:hidden;">
     <div></div>
</div>