<div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <h4>Post Thumbnail List</h4>
            <img src="http://placehold.it/350x150" alt="...">
            <a href="http://bootsnipp.com/snippets/featured/post-thumbnail-list" class="btn btn-primary col-xs-12" role="button">View More</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <h4>Tabbed Slider Carousel</h4>
            <img src="http://placehold.it/350x150" alt="...">
            <a href="http://bootsnipp.com/snippets/featured/colourful-tabbed-slider-carousel" class="btn btn-primary col-xs-12" role="button">View More</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
          <h4>Portfolio using Panels</h4>
          <img src="http://placehold.it/350x150" alt="...">
          <a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels" class="btn btn-primary col-xs-12" role="button">View More</a>
          <div class="clearfix"></div>
      </div>
  </div>

  <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
          <h4>Parallax Login Form</h4>
          <img src="http://placehold.it/350x150" alt="...">
          <a href="http://bootsnipp.com/snippets/featured/parallax-login-form" class="btn btn-primary col-xs-12" role="button">View More</a>
          <div class="clearfix"></div>
      </div>
  </div>
</div>