<div style="margin-top:2px;">
  <div id="jqxTabs">
     <ul>
       <li style="margin-left: 25px;">Loan settings</li>
     </ul>
  <div style="margin-top: 30px;">
      <table>
         <tr>
            <td><div style="margin-left:5px;"><div id="chkAutogenerateLoanRefNum">Auto generate loan reference numbers</div></div></td>
         </tr>
       </table>
       <div style="margin-left:5px;padding-top: 5px;">
       <table>
         <tr>
           <td><input type="button" id="loantypeDetails" value="Loan type settings"></td>
           <td></td>
         </tr>
       </table>
       </div>
     <div style="margin-left:5px;padding-top: 5px;">
       <table>
         <tr>
           <td>Maximum loan repayment period:</td>
           <td><div id="maxRepaymntPeriod"></div></td>
           <td>Months</td>
         </tr>
         <tr>
           <td><div style="padding-top:10px;"><div id="chkPrecalculateloan">Enable loan precalculation</div></div>
         </tr>
         <tr>
            <td><div style="padding-top: 12px;margin-left: 5px;"><div id="loanProcessingOption"></div></div></td>
            <td><div style="float: left;">Loan processing </div></td

         </tr>
         <tr>
           <td></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
            <td><div style="padding-top: 12px;margin-left: 5px;">Process all loans on the</div></td>
            <td><div style="float:left;" id="loanProcessingDate"></div></td>
            <td>th of each month</td>
         </tr>
       </table>
       <div style="float:left;padding-top:30px;">
         <table>
            <tr>
               <td><div style="margin-left:10px;">
                <input type="button" id="loaninterestType" value="View loan types" /></div>
               </td>
            </tr>
         </table>
       </div>
       <div style="float:right;padding-top:30px;">
       <table>
         <tr>
          <td><div style="margin-right:10px;">
                <input type="button" id="saveLoanSettingsBtn" value="Save settings" /></div>
           </td>
         </tr>
       </table>
       </div>
       </div>
    </div>   
</div>
</div>
<div id="messageNotification" style="overflow:hidden;">
 <div></div>
</div>
