<div style="margin-top: 2px;"> 
  <div id="jqxTabs">
      <ul>
        <li style="margin-left: 30px;">Payroll settings</li>
      </ul>
      <div>
          <div style="border-left: 5px; border-top: 30px;">
          <div class="tbl-div-spacing"></div>
         <table style="margin-top: 30px; margin-left: 10px; width: '70%';">
          <tr>
            <td><div id="PaymentexceptionChk">Add payment to exception</div></td>
            <td><input type="button" id="PaymentexceptionBtn" value="Exceptions..." /></td>
          </tr>
          <tr>
            <td colspan="2"><span class="inputbox-spacing"></span></td>
          </tr>
          <tr>
            <td><div id="setpayrollRunDateChk">Set payroll run date</div></td>
            <td><input type="button" id="PayrollRunDateBtn" value="Define date" /></td>
          </tr>
          <tr>
            <td colspan="2"><span class="inputbox-spacing"></span></td>
          </tr>
          <tr>
            <td><div id="pensionFormularChk">PENSION deduction formular:</div></td>
            <td><div id="pensionformulaPaycode"></div></td> 
          </tr>
          <tr>
            <td colspan="2"><span class="inputbox-spacing"></span></td>
          </tr>
          <tr>
            <td><div id="taxFormularChk">TAX deduction formular:</div></td>
            <td><div id="taxformulaPaycode"></div></td>        
          </tr>
          <tr>
            <td colspan="2"><span class="inputbox-spacing"></span></td>
          </tr>
          <tr>
            <td><div id="loanFormularChk">LOAN deduction formular:</div></td>
            <td><div id="loanformulaPaycode"></div></td>
          </tr>
          <tr>
            <td colspan="2"><span class="inputbox-spacing"></span></td>
          </tr>
          <tr>
            <td><div id="severanceFormularChk">Severance pay formular:</div></td>
            <td><div id="severanceformulaPaycode"></div></td>
          </tr>
       </table>
   </div>
   <div style="float: right; margin-top: 25px; margin-right: 10px;"><input type="button" id="saveSettingsBtn" value="Save settings" /></div>
      </div>

  </div>
   
</div>

<div id="messageNotification" style="overflow:hidden;">
     <div></div>
</div>
