<div id='jqxWidget' style="margin-top: 2px;">
	<div id='jqxTabs'>
		<ul>
			<li style="margin-left: 25px;">Pension</li>
		</ul>
		<div>
			<table style="margin-top: 30px; margin-left: 5px; width: 90%;">
				<tr>
					<td>Pension code:</td>
					<td><input id="pensionCode" type="text" class="text-input" /></td>
				</tr>
				<tr>
					<td><div class="inputbox-spacing"></div></td>
                    <td></td>
				</tr>
				<tr>
					<td>Employee contrib. rate:</td>
					<td><div id="employee-contrib"></div></td>
				</tr>
				<tr>
					<td><div class="inputbox-spacing"></div></td>
                    <td></td>
				</tr>
				<tr>
					<td>Employer contrib. rate:</td>
					<td><div id="employer-contrib"></div></td>
				</tr>
				<tr>
					<td><div class="inputbox-spacing"></div></td>
                    <td></td>
				</tr>
				<tr>
					<td>Group life assurance rate:</td>
					<td><div id="group-life-assurance"></div></td>
				</tr>
				<tr>
					<td><div class="inputbox-spacing"></div></td>
                    <td></td>
				</tr>
				<tr>
					<td>Administrative fee rate:</td>
					<td><div id="admin-fee"></div></td>
				</tr>
				<tr>
					<td><div class="inputbox-spacing"></div></td>
                    <td></td>
				</tr>
				<tr>
					<td>Brokerage fee rate:</td>
					<td><div id="brokerage-fee"></div></td>
				</tr>
			</table>
		</div>
	</div>
	<table style="float: right; margin-top: 2px;">
		<tr>
			<td>
				<a class="btn icon-btn btn-success" href="#" id="pensionSaveBtn"><span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle text-success"></span>Save</a>
			</td>
		</tr>
	</table>
	
	 <div id="messageNotification" style="overflow:hidden;">
       <div></div>
     </div>
</div>