<div style="margin-top: 2px;">
	<div id="jqxTabs">
		<ul>
			<li style="margin-left: 30px;">Personnel settings</li>
		</ul>
		<div>
			 <form id="personnelSettings-form">
				<table style="margin-left:5px; margin-top: 30px;">
					<tr>
				        <td>
				        	<div id="chkAutogenerateEmpNum">Auto generate Employment numbers</div>
						</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2"><div class="inputbox-spacing"></div></td>
					</tr>
				 </table>
			     <table>
			        <tr>
			          <td colspan="2"><span style="margin-left: 5px;"><input id="defineJobGradeBtn" type="button" value="Define job grades"/></span></td>
			        </tr>
					<tr>
						<td colspan="2"><div class="inputbox-spacing"></div></td>
					</tr>
				 </table>

				 <div id="job-grade">
				  	<table>
				     <tr>
				  	  <td><span style="margin-left: 5px;"><input id="gradeNum" type="text" class="text-input" /></span></td>
				  	  <td><span style="margin-left: 10px;"><input type="text" id="gradeName" class="text-input" /></span></td>
				  	  <td><span style="margin-left: 5px;"><input id="saveJobGradeBtn" type="button" value="Save" /></span></td>
				  	  <td><span style="margin-left: 5px;"><input id="viewJobGradeBtn" type="button" value="View" /></span></td>
				     </tr>
				     <tr>
				  	    <td colspan="3"><div class="inputbox-spacing"></div></td>
				     </tr>
				  </table>
				  </div>

				   <table>
				   <tr>
					 <td><span style="margin-left: 5px;"><input id="defineJobPositionBtn" type="button" value="Define job positions"/></span></td>
					 <td></td>
				  </tr>
				  <tr>
				  	<td colspan="2"><div class="inputbox-spacing"></div></td>
				  </tr>
				  </table>

				  <div id="job-position">
				  <table>
				  <tr>
				  	  <td><span style="margin-left: 5px;"><input id="positionName" type="text" class="text-input" /></span></td>
				  	  <td><span style="margin-left: 10px;"><input type="text" id="deptname" class="text-input" /></span></td>
				  	  <td><span style="margin-left: 5px;"><input id="saveJobPositionBtn" type="button" value="Save" /></span></td>
				  	  <td><span style="margin-left: 5px;"><input id="viewJobPositionBtn" type="button" value="View" /></span></td>
				  </tr>
				  <tr>
				  	<td colspan="3"><div class="inputbox-spacing"></div></td>
				  </tr>
				  </table>
				  </div>

		        <table>
				  <tr>
				  	 <td><span style="margin-left: 5px;">Minimum age of employability:</span></td>
				  	 <td><div id="minEmployabilityAge"></div></td>
				  </tr>
				   <tr>
				  	<td colspan="2"><div class="inputbox-spacing"></div></td>
				   </tr>
				    <tr>
				  	  <td><span style="margin-left: 5px;">Maximum age of employability:</span></td>
				  	  <td><div id="maxEmployabilityAge"></div></td>
				  </tr>
				  <tr>
				  	<td colspan="2"><div class="inputbox-spacing"></div></td>
				  </tr>
				  <tr>
				  	<td><span style="margin-left: 5px;"> Maximum allowable days to back date new registrations:</span></td>
				  	<td><div id="maxBackDateDays"></div></td>
				  </tr>
				</table>
				
				<table style="float: right;margin-top: 25px;">
					<tr>
						<td colspan="2"><div class="inputbox-spacing"></div></td>
					</tr>
					<tr>
						<td><input type="button" style="margin-right: 10px;" id="saveSettingsBtn" value="Save settings" /></td>
					</tr>
				</table>
	      </form>
		</div>
	
   </div>
</div>
<div id="messageNotification" style="overflow:hidden;">
     <div></div>
</div>
