
  <div style="margin-top:5px;">
    <table width = '100%'>
       <tr>
         <td>Date from:</td>
         <td><div id="minDate"></div></td>
         <td>Date to:</td>
         <td><div id="maxDate"></div></td>
         <td>
           <button class="btn btn-info navbar-btn" type="button" id="filterBtn">
               <i class="glyphicon glyphicon-filter"></i>
               <span></span>
           </button>
         </td>
       </tr>
    </table>     
  </div>
  <div id="grid-content">
  </div>

                           <!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span></span>
                        </button> -->
<!--
  <div style="overflow: hidden; margin-left: 0px;">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." id="searchval" onkeyup="__loadReportListGrid(__payslipReportListDataAdapter(this.value));" />
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" onclick="searchPayslip(document.getElementById('searchval').value);">Search</button>
    </span>
  </div>
    <div>

   <!--
      <div id="filterOptions" style="overflow: hidden";>
        <div></div>
        <div style="overflow: hidden;">
         <table>
          <tr>
            <td></td><td></td>
          </tr>
           
         </table>
         <div id="chkSearchOptByName"></div>
          <table style="float: right; margin-top: 10px;">
              <tr>
                 <td><input type="button" value="Proceed" id="proceedBtn" /></td>
                 <td><span class="inputbox-spacing"><input type="button" value="Cancel" id="cancelBtn" /></span></td>
              </tr>
          </table>
        </div>
      </div> 
   
    </div>
  </div>-->
  <script type="text/javascript">

  </script>
