<div id='jqxWidget' style="margin-top: 2px;">
  <div id='jqxTab'>
   <ul style='margin-left: 10px;'>
   	  <li>Leave Entry</li>
   </ul>
   <div>
       <table style="margin-top: 30px; margin-left: 10px; width: 80%;">
       	  <tr>
       	  	 <td>Employee:</td>
       	  	 <td><input id="fullname"  type="text" /></td>
       	  </tr>
       	   <tr>
       	  	<td colspan="2"><div class="inputbox-spacing"></div></td>
       	  </tr>
       	  <tr>
       	  	 <td>Leave type:</td>
       	  	 <td><div id="leavetype"></div></td>
       	  </tr>
       	  <tr>
       	  	<td colspan="2"><div class="inputbox-spacing"></div></td>
       	  </tr>
       	  <tr>
       	  	<td>Leave from:</td>
       	  	<td><div id="leaveFrom"></div></td>
       	  </tr>
       	  <tr>
       	  	<td colspan="2"><div class="inputbox-spacing"></div></td>
       	  </tr>
       	  <tr>
       	  	<td>Leave To:</td>
       	  	<td><div id="leaveTo"></div></td>
       	  </tr>
       	  <tr>
       	  	<td colspan="2"><div class="inputbox-spacing"></div></td>
       	  </tr>
       	  <tr>
       	  	<td>Number of days:</td>
       	  	<td><input id="numberOfDays" type="text" /></td>
       	  </tr>
       	  <tr>
       	  	<td colspan="2"><div class="inputbox-spacing"></div></td>
       	  </tr>
       	  <tr>
       	  	<td>Reason:</td>
       	  	<td><input id="reason"  type="text" /></td>
       	  </tr>
       	  <tr>
       	  	<td colspan="2"><div class="inputbox-spacing"></div></td>
       	  </tr>
       </table>
       <table style="float: right; margin-top: 30px; margin-right: 15px;">
       	 <tr>
       	 	<td><input type="button" value="Submit" id="submitRequestBtn"></td>
       	 	<td><div style="margin-left: 5px;"><input type="button" value="Cancel" id="cancelRequestBtn"></div></td>
       	 </tr>
       </table>
   </div>
  </div>
</div>	
 <div id="messageNotification" style="overflow:hidden;">
      <div></div>
 </div>
