<div id='jqxWidget' style="margin-top: 2px;">
   <div id='jqxTabs'>
        <ul>
            <li style="margin-left: 30px;">General</li>
            <li>1st Threshold</li>
            <li>2nd Threshold</li>
            <li>3rd Threshold</li>
         </ul>
         <div>
         	<table style="margin-top: 30px; margin-left: 5px;">
         		<tr>
         			<td>Pay code:</td>
         			<td><span class="inputbox-spacing"><input id="payCode"></span></td>
         		</tr>
         		<tr>
         			<td colspan="2"><div class="inputbox-spacing"></div></td>
         		</tr>
         		<tr>
         			<td>Description:</td>
         			<td><span class="inputbox-spacing"><input id="description"></span></td>
         		</tr>
         	</table>
         </div>
         <div>
         	<table style="margin-top: 30px; margin-left: 5px; width: 80%;">
         		<tr>
         			<td>Period from:</td>
         			<td><div id="periodOfServiceStart"></div></td>
         			<td><div id="periodOfServiceStartUnits"></div></td>
         			<td>to:</td>
         			<td><div id="periodOfServiceEnd"></div></td>
         			<td><div id="periodOfServiceEndUnits"></div></td>
         		</tr>
         		<tr>
         			<td colspan="6"><div class="inputbox-spacing"></div></td>
         		</tr>
         		<tr>
         			<td>Rate of pay (%):</td>
         			<td><div id="rateOfPay"></div></td>
         			<td colspan="3"> for each period served</td>
         		</tr>
         	</table>
         </div>
         <div>
         	 <table style="margin-top: 30px; margin-left: 5px; width: 80%;">
         		<tr>
         			<td>Period from:</td>
         			<td><div id="periodOfServiceStart2"></div></td>
         			<td><div id="periodOfServiceStartUnits2"></div></td>
         			<td>to:</td>
         			<td><div id="periodOfServiceEnd2"></div></td>
         			<td><div id="periodOfServiceEndUnits2"></div></td>
         		</tr>
         		<tr>
         			<td colspan="6"><div class="inputbox-spacing"></div></td>
         		</tr>
         		<tr>
         			<td>Rate of pay (%):</td>
         			<td><div id="rateOfPay2"></div></td>
         			<td colspan="3"> for each period served</td>
         		</tr>
         	</table>
         </div>
         <div>
         	  <table style="margin-top: 30px; margin-left: 5px; width: 80%;">
         		<tr>
         			<td>Period from:</td>
         			<td><div id="periodOfServiceStart3"></div></td>
         			<td><div id="periodOfServiceStartUnits3"></div></td>
         			<td>to:</td>
         			<td><div id="periodOfServiceEnd3"></div></td>
         			<td><div id="periodOfServiceEndUnits3"></div></td>
         		</tr>
         		<tr>
         			<td colspan="6"><div class="inputbox-spacing"></div></td>
         		</tr>
         		<tr>
         			<td>Rate of pay (%):</td>
         			<td><div id="rateOfPay3"></div></td>
         			<td colspan="3"> for each period served</td>
         		</tr>
         	</table>
         </div>
      </div>
   <table style="margin-top: 2px; float: right;">
   	 <tr>
   	 	<td><input type="button" value="Save settings" id="saveSettingsBtn" /></td>
   	 	<td><span class="inputbox-spacing"><input type="button" value="Cancel" id="cancelBtn" /></span></td>
   	 </tr>
   </table>

		 <div id="messageNotification" style="overflow:hidden;">
		     <div></div>
		</div>
</div>