
<div class="input-group">
   <input type="text" class="form-control" placeholder="Search for..." id="searchval" onchange="__AutoComplete()" />
   <div class="input-group-btn">
        <div class="btn-group" role="group">
        <div class="dropdown dropdown-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="filter">Filter by</label>
                    <select class="form-control">
                        <option value="0" selected>All Snippets</option>
                        <option value="1">Featured</option>
                        <option value="2">Most popular</option>
                        <option value="3">Top rated</option>
                        <option value="4">Most commented</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="contain">Author</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="contain">Contains the words</label>
                    <input class="form-control" type="text" />
                  </div>
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
                     </div>
                </div>
             <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
       </div>
    
     <!--<button class="btn btn-primary" type="button" onclick="__Search(document.getElementById('searchval').value)">Search</button>-->
  </div>
</div>
<div id="grid">
  <div id="jqxgrid"></div>
</div>
 <div id='Menu'>
        <ul>
            <li>Copy</li>
            <li>Edit</li>
            <li>Delete</li>
            <li>Modify Employment No.</li>
            <li>Suspend</li>
            <li>Transfer</li>
            <li>Terminate Service</li>
        </ul>
</div>
<!--</div>-->
 <div id="editpopupWindow">
     <div>Edit</div>
        <div style="overflow:hidden;">
         <table>
            <tr>
               <td align="right">ID:</td>
               <td align="left"><input id="id" /></td>
            </tr>
             <tr>
               <td align="right">Name:</td>
               <td align="left"><input id="empName" /></td>
            </tr>
            <tr>
               <td align="right">Gender:</td>
               <td align="left"><div id="gender"></div></td>
            </tr>
             <tr>
               <td align="right">Phone:</td>
               <td align="left"><input id="phone" /></td>
            </tr>
             <tr>
               <td align="right">Department:</td>
               <td align="left"><input id="dept" /></td>
            </tr>
             <tr>
               <td align="right">Job Title:</td>
               <td align="left"><input id="jobTitle" /></td>
            </tr>
             <tr>
               <td align="right">Grade:</td>
               <td align="left"><input id="gradeId" /></td>
            </tr>
             <tr>
               <td align="right">Birth Date:</td>
               <td align="left"><div id="birthdate"></div></td>
            </tr>
             <tr>
               <td align="right">Hire Date:</td>
               <td align="left"><div id="hiredate"></div></td>
            </tr>
             <tr>
               <td align="right">Status:</td>
               <td align="left"><div id="status"></div></td>
            </tr>
           <tr>
              <td></td>
              <td><div id="deptno"></div></td>
            </tr>
            <tr>
              <td align="right"></td>
              <td><input style="margin-left: 5px;"type="button" id="editWinSaveBtn" value="Save" /><input type="button" id="editWinCancelBtn" value="Cancel" /></td>
            </tr>
         </table>

       </div>
 </div>

  <div id="delpopupWindow" style="overflow: hidden";>
           <div>Edit</div>
            <div style="overflow: hidden; margin-left: 15px;">


              <p>Do you want to delete this record?</p>

                <input type="button" id="Delete" value="Ok" />
                <input type="button" id="Cancel" value="Cancel" />
            </div>
  </div>

 <div id="copypopupWindow">
     <div>
           <div>
                 <div>
                      <div id="jqxTabWidget">
                         <div style='margin-left: 5px;'>
                           <div id='jqxTabs'>
                              <ul style='margin-left: 10px;'>
                                  <li>Personal Info</li>
                                  <li>Department</li>
                                  <li>Academic</li>
                                  <li>Miscellaneous</li>
                             </ul>
                             <div>
                                <div style="margin-top: 25px;"></div>
                                 <table>
                                     <tr>
                                        <td><span style="margin-left:10px">Employment number:</span></td>
                                        <td><input id="empID" type="text" class="text-input" /></td>
                                     </tr>
                                     <tr>
                                         <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                     <tr>
                                         <td><span style="margin-left: 10px;"> Name:</span></td>
                                         <td><input id="name" type="text" class="text-input" /></td>
                                     </tr>
                                      <tr>
                                         <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                      <tr>
                                          <td><span style="margin-left: 10px;"> Physical address:</span></td>
                                          <td><input id="address" type="text" class="text-input"/></td>
                                      </tr>
                                      <tr>
                                         <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                      <tr>
                                         <td><span style="margin-left: 10px;"> Phone:</span></td>
                                         <td><input id="contactNo" type="text" class="text-input" />
                                             <input id="contactNo2" type="text" class="text-input" />
                                         </td>
                                     </tr>
                                      <tr>
                                         <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                      <tr>
                                        <td><span style="margin-left: 10px;">Gender:</span></td>
                                        <td><div id="sex"></div></td>
                                      </tr>
                                      <tr>
                                         <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                      <tr>
                                         <td><div style="margin-left: 10px;">Date of Birth:</span></td>
                                         <td><div id="dob"></div></td>
                                     </tr>
                                     <tr>
                                       <td><span class="inputbox-spacing"></span></td>
                                     </tr>
                                     <tr>
                                      <td><span style="margin-left:10px">Marital status:</span></td>
                                      <td><div id="maritalStatus"></div></td>
                                    </tr>
                                 </table>

                             </div>

                             <div>
                                 <table style="margin-left: 5px; margin-top: 25px;">
                                     <tr>
                                         <td>Department: </td>
                                         <td><input id="deptname" type="text" class="text-input" /></td>
                                     </tr>
                                     <tr>
                                         <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                      <tr>
                                          <td>Job Title:</td>
                                          <td><div id="jobposition"></div></td>
                                     </tr>
                                     <tr>
                                        <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                     <tr>
                                         <td>Grade:</td>
                                         <td><input id="empgrade" type="text" class="text-input" /></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                      <tr>
                                          <td>Appointment date:</td>
                                          <td><div id="dateHired"></div></td>
                                     </tr>
                                     <tr>
                                       <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                     <tr>
                                         <td>End Date:</td>
                                         <td><div id="enddate"></div></td>
                                     </tr>
                                     <tr>
                                         <td><div class="inputbox-spacing"></div></td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                       <td>Employment type:</td>
                                       <td><div id="emptype"></div></td>
                                     </tr>
                                     <tr>
                                         <td><div class="inputbox-spacing"></div></td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                        <td>Employment status:</td>
                                        <td><div id="empstatus"></div></td>
                                     </tr>
                                      <tr>
                                         <td><div class="inputbox-spacing"></div></td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                       <td colspan="2"><div class="inputbox-spacing"></div></td>
                                     </tr>
                                     <tr>
                                        <td><div id="onPayroll">On Payroll</div></td>
                                        <td></td>
                                     </tr>
                                 </table>
                             </div>
                              <div>
                                  <table style="margin-top: 30px; margin-left: 5px; width: 90%;">
                                    <tr>
                                       <td>Highest qualification:</td>
                                       <td><div id="highestQualification"></div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><span class="inputbox-spacing"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Qualification name:</td>
                                        <td><input type="text" id="qualificationName"  class="text-input" /></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><span class="inputbox-spacing"></span></td>
                                    </tr>
                                    <tr>
                                       <td>Other qualifications:</td>
                                       <td><div id="otherQualification"></div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><span class="inputbox-spacing"></span></td>
                                    </tr>
                                     <tr>
                                        <td>Proffession:</td>
                                        <td><input type="text" id="profession"  class="text-input" /></td>
                                    </tr>            
                                  </table>  
                              </div>
                             <div>
                            <table style="margin-top: 30px; margin-left: 5px; width: 90%">
                                 <tr>
                                     <td>Identity type:</td>
                                     <td><div id="identityType"></div></td>
                                     <td></td>
                                 </tr>
                                 <tr>
                                   <td colspan="3"><span class="inputbox-spacing"></span></td>
                                 </tr>
                                 <tr>
                                    <td>Nationality:</td>
                                    <td><div id="nationality"></div></td>
                                    
                                 </tr>
                                 <tr>
                                   <td colspan="2"><span class="inputbox-spacing"></span></td>
                                 </tr>
                                  <tr>
                                      <td>Identity number:</td>
                                      <td><input id="identityNumber" type="text" class="text-input" /></td>
                                 </tr>
                                  <tr>
                                   <td colspan="2"><span class="inputbox-spacing"></span></td>
                                 </tr>
                                 <tr>
                                      <td>Identity number valid until:</td>
                                      <td><div id="validUntil"></div></td>
                                 </tr>
                                 <tr>
                                    <td colspan="2"><span class="inputbox-spacing"></span></td>
                                 </tr> 
                                 <tr>
                                    <td>Next of kin name</td>
                                    <td><input id="nextOfKinName" type="text" class="text-input" /></td>
                                   
                                 </tr>
                                 <tr>
                                    <td colspan="2"><span class="inputbox-spacing"></span></td>
                                 </tr>
                                 <tr>
                                    <td>Next of kin contact number:</td>
                                    <td><input id="nextOfKinMobile1" type="text" class="text-input" />
                                        <input id="nextOfKinMobile2" type="text" class="text-input" /></td>
                                    
                                 </tr> 
                                  </table> 
                             </div>
                           </div>
                         </div>
                       </div>

                        <div id="jqxExpander" style='float: right;margin-top:5px;'>
                        <div>
                         <table>
                           <tr>
                            <td>
                              <a class="btn icon-btn btn-success" href="#" id="copyWinSaveBtn"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
                              <!--<input style="margin-right: 5px;" type="button" id="copyWinSaveBtn" value="Save" />-->
                              <input id="copyWinCancelBtn" type="button" value="Cancel" />
                            </td>
                          </tr>
                         </table>
                        </div>
                        </div>
                </div>
            </div>
       </div>
 </div>
 <div id="messageNotification" style="overflow:hidden;">
     <div></div>
</div>
